.badge > a{

    background-color: var(--colorTitle);
    transition: 0.3s;
    color: var(--Ñolor-badge);
    padding: 5px;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.badge > a:hover{
    background: var(--color-badge-hover);
}

.badge{
    display: flex;
    flex-wrap: wrap;
}