.containerModalWindow{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: 0;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(0,0,0,0.4);
}

.modal{
    padding: 20px;
    width: 700px;
    height: 500px;
    background-color: var(--bg-color);
}
.containerButtonClose{
    display: flex;
    justify-content: flex-end;
}
.closeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    color: var(--Ñolor-badge);
}
.savedMovie{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--colorBody);
    height: 400px;
    overflow-y: scroll;
}
.titleSavedMovie{
    display: flex;
    justify-content: center;
    scrollbar-base-color: var(--colorTitle);
    font-size: 30px;
    align-items: center;
    color: var(--color-button-pagination);
    width: 100%;
    text-transform: uppercase;
}
.savedMovie::-webkit-scrollbar{
    width: 5px;
    background-color: var(--color-button-pagination);
}
.savedMovie::-webkit-scrollbar-thumb{
    background-color: var(--colorButtonResetHover);
    border-radius: 9em;
}
.containerMovie{
    cursor: pointer;
    width: 95%;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;

    background-color: var(--bg-color);
}
.containerMovie:hover{
    box-shadow: var(--shadow-card);
}

.savedMoviePoster{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.savedMoviePoster > img{
    width: 50px;
    margin-right: 10px;
}
.infoSavedMovie{
    color: var(--color-text);
    font-family: "Rubik", serif;
    font-size: 20px;
}
.containerTitleAndIcon{
    display: flex;
    justify-content: space-between;
}

.xMarkIcon{
    cursor: pointer;
    color: var(--color-text);
    width: 20px;
    height: 20px;
}

