.containerProfile{
    border: 2px solid var(--color-text);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: var(--color-text);
    align-items: center;
    text-align: center;
    position: relative;
    transition: 0.3s;
    font-family: "Rubik", serif;
    background-color: var(--bg-color);
}

.openProfile{
    padding: 10px;
    position: absolute;
    height: 200px;
    width: 160px;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: var(--colorBody);
    box-shadow: var(--shadow-header);
    border-radius: 4px;
    border: var(--colorButtonResetHover) solid 2px;
}
.info{
    border: 1px solid var(--color-text);
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.openProfile > h3 {
    text-transform: uppercase;
    margin-top: 10px;
}
.bookMark{
    width: 15px;
    color: var(--colorTitle);
}
.saved{
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}